body {
  background-image: url(../images/Hollywood-Background.jpg)
}

h1 {
  color: white;
  text-align: center;
  padding: 4%;
  text-decoration: underline;
}

h2 {
  color: white;
  font-size: 200%;
  text-align: center;
  padding-bottom: 5%;
}

h3 {
  color: white;
  font-size: 150%;
  text-align: center;
}